@model IEnumerable<UltUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>Student Statistics By Date :</h2>

            <table class="table table-striped" style="margin-top:50px">
                <tr>
                    <th>
                        Enrollment Date
                    </th>
                    <th>
                        Number of Students
                    </th>
                </tr>

                @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
}
            </table>

        </div>
        <div class="col-lg-3">
            <img src="~/images/ult-info/logo-statistiques.png" alt="logo stattistique" />

        </div>
    </div>
</div>
