@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>


<address>
    <h1><strong>Université libre de Tunis</strong></h1><br />
                                                       <h4>
                                                           32 Bis Av. Kheireddine Pacha 1002 Tunis <br />
                                                           <abbr title="Phone">P:</abbr>
                                                           (+216) 71 90 28 11
                                                       </h4>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:contact@ult-tunisie.com">contact@ult-tunisie.com</a><br />
    <strong>Devlopper:</strong> <a href="mailto:haykel.maaoui@gmail.com">haykel.maaoui@gmail.com</a><br />

</address>
